.bar {
    height: 41.5vh;
    width: 58.47vw;
    position: absolute;
    display: flex;
    cursor: pointer;
}

.barWrapper {
    width: 50.76vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 4vw;

}

.column {
    width: 5.34vw;
    height: 100%;
    background: var(--red79);
}

.activeClass {
    background: var(--red22);
}

.barNoData {
    background-color: var(--greyC4);
    height: 0.5vh !important;
}

