.statistic {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.day {
    display: flex;
    flex-direction: column;
    min-width: 23.125vw;
    min-height: 20.3125vh;
    background: var(--grayF4);
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 25px;    
}

.dataDay {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 14px;
}

.tomato {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 296px;
    min-height: 179px;
    background: var(--grayF4);
    margin-top: 32px;
}

.schedule {
    min-width: 65.375vw; 
    min-height: 36.797vh;
    background: var(--grayF4);
}