.menuItemsList {
    width: 165px;
    height: 153px;
    border: 1px solid var(--greyC4);
    background: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.buttonItem {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    font-family: 'SF UI Display';
    margin-left: 16px;
    height: 36px;
}

.buttonItem > svg {
    margin-right: 10px;
}

.menuItem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menuItem:hover {
    background: var(--grayF4);
}

