.container {
    display: flex;
    margin: 100px 80px 0 80px;
    justify-content: space-between;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.textBlock {
    min-width: 508px;
    min-height: 231px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

ul li::marker {
    color:var(--red22);
}

.manual {
    margin: 3px 0 25px 17px;
}

.manualList {
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.nameTask {
    width: 370px;
    height: 55px;
    background: var(--grayF4);
    font-weight: 300;
    color: var(--grey99);
}

.nameTask::focus {
    color: var(--black);
}

.timerWrapper {
    min-width: 733px;
    min-height: 507px;
    margin-left: 16px;
    background-color: var(--grayF4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.timerHeader {
    display: flex;
    height: 55px;
    width: 100%;
    background-color: var(--greyC4);
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 40px;
}

.timerNameTask {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: var(--white);
}

.timer {
    display: flex;
    font-weight: 200;
    font-size: 150px;
    line-height: 179px;
    margin-top: 70px;
    margin-left: 65px;
}

.timerDivider {
    display: flex;
    align-items: center;
}

.timerTask {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--grey99);
    margin-bottom: 32px;
}

.btnTimer {
    display: flex;
    margin-bottom: 107px;
}

.btnStart {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 145px;
    height: 55px;
    background: var(--green4F);
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--white);
    text-align: center;
    justify-content: center;
    margin-right: 17px;
}

.btnStop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 145px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #C4C4C4;
    text-align: center;
    justify-content: center;
    border: 2px solid #C4C4C4;
}

.btnAddTask {
    width: 173px;
    height: 55px;
    background: var(--green4F);
    margin-top: 25px;
    font-weight: 500;
    text-align: center;
    color: var(--white);
}

.btnAddTask:hover {
    background: var(--green41);
}

.btnStart:hover {
    background: var(--green41);
}