.timeZone {
    width: 50%;
    height: 50px;
    background: var(--grayF4);
    border: none;
    outline: none !important;
    font-family: "sf ui display";
    font-weight: 300;
    font-size: 18px;
    padding: 0 10px;
    color: var(--black);
}