.titleWorkTime {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 33px; 
}

.descrWorkTime {
    margin-top: 14px;
    font-weight: 400;
    line-height: 28px;
}

.WorkTime {
    color: var(--red22);
    font-weight: 700;
    line-height: 28px;
}