.taskList {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none; 
	counter-reset: num;
    margin-top: 25px;
}

.taskTime {
    margin-top: 20px;
    color: var(--grey99);
}