.toggleContainer {
    display: flex; 
    flex-direction: row-reverse;
}
.toggleLabel {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 30px;
}
  
.toggleInput {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.toggleSpan {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2c3e50;
    transition: 0.3s;
    border-radius: 30px;
}

.toggleSpan:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 2.6px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.toggleInput:checked + .toggleSpan {
    background-color: #00c853;
}

.toggleInput:checked + .toggleSpan:before {
    transform: translateX(29px);
}