@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

:root {
	--whiteLightness: 100%;
	--white:          hsl(0, 0%, var(--whiteLightness));
	--black:          #333333;
	--red22:          #DC3E22;
	--red0F:          #B7280F;
	--red79:          #EA8A79;
	--orange:         #FFDDA9;
	--violet:         #DFDCFE;
	--blue:           #C5F1FF;
	--green4F:        #A8B64F;
	--green41:        #899441;
	--grayF4:         hsl(0, 0%, calc(var(--whiteLightness) - 4.31%));
	--greyE5:         hsl(0, 0%, calc(var(--whiteLightness) - 10.2%));
	--greyC4:         hsl(0, 0%, calc(var(--whiteLightness) - 23.14%));
	--grey99:         hsl(0, 0%, calc(var(--whiteLightness) - 40%));
}

#root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: var(--greyE5);
	font-size: 16px;
	line-height: 17px;
	font-weight: 300;
	font-family: 'SF UI Display', normal;
}

* {
	color: var(--black);
	box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
	user-select: none;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
}
  
ul {
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

input[type="text"] {
	font-family: 'SF UI Display', normal;
	font-size: 16px;
	line-height: 17px;
	font-weight: 300;
	margin: 0;
	border: none;
	outline: none;
}
.container {
	padding: 0 80px;
}

html[data-theme='dark'] {
	--button-text-color: #ffffff;
	--button-background-color: #4e005c;
	/* --button-border-color: #ba8fc2; */
  
	--input-text-color: #ffffff;
	--input-placeholder-text-color: #dddddd;
	--input-background-color: #7c7c7c;
	/* --input-border-color: #ba8fc2; */
  
	--background-color: #292929;
	--icon-color: #ba8fc2;
}
  
html[data-theme='light'] {
	--button-text-color: #252525;
	--button-background-color: #f9d4ff;
	/* --button-border-color: #4e005c; */
  
	--input-text-color: #252525;
	--input-placeholder-text-color: #a7a7a7;
	--input-background-color: #ffffff;
	/* --input-border-color: #4e005c; */
  
	--background-color: #dfdfdf;
	--icon-color: #4e005c;
}