.header {
    width: 100vw;
    height: 6.84vh;
    background: var(--header_background);
    box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
}

.container {
    height: 100%;
    display: flex;
    margin: 0 5.56vw;;
    align-items: center;
    justify-content: space-between;
}