.statisticsLink {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        .statisticsLinkText {
          color: var(--red0F);
        }
    
        svg path,
        svg g path {
          fill: var(--red0F);
        }
    }
}

.statisticsLinkText {
    color: var(--red22);
    font-weight: 400;
}
